html,
body {
    height: 100%;
    position: relative;
    background: fixed url(bg-image.png) no-repeat center / cover;
}

$primary-color : rgba(26, 26, 26, 0.8);
$sub-color : #B1818E;
$other-color : #619E8D;
$font-color : #CCCCCC;
$border-color : #7d7d7d30;

a,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: $font-color !important;
}

#main-container {
    background-color: rgba(51, 51, 51, 0.6);
    backdrop-filter: blur(7px);
    padding-top: 75px;
    min-height: 100%;
}

.btn-primary {
    background-color: $sub-color;
    border: $border-color;

    &:hover {
        background-color: $primary-color;
    }
}

.wrapper {
    padding: 20px;
    background-color: rgba(204, 204, 204, 0.411);

    #glossaries-wrapper {
        padding: 1.5rem;
        border: 1px solid $border-color;
        border-radius: .25rem;
        font-weight: bold;

        .list-group {
            box-shadow:0 1px 20px 2px $font-color;
            text-align: center;

            .active {
                background-color: $primary-color;
                border-color: $border-color;
            }
        }

        .list-wrapper {
            position: relative;
            overflow: auto;
            height: 100%;
            background-color: $primary-color;
            
            #wordTable {
                color: $font-color;
                text-align: center;
                th[scope="row"]{
                    color: $font-color;
                    font-weight:bold;
                }
                .td-editable input {
                    width: 6rem;
                }

                .th-editable:focus-within {
                    outline: 2px solid blue; /* 可以根据需要调整边框的颜色和大小 */
                  }

                td:nth-child(2) {
                    color: rgba(72, 255, 127, 0.644);
                }
                td:nth-child(3) {
                    color: rgba(255, 72, 72, 0.644);
                }
            }
        }
    }
}

#settingsPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary-color;
    color: $font-color;
    backdrop-filter: blur(.25rem);
    -webkit-backdrop-filter: blur(.25rem);
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}