  $primary-color : rgba(26, 26, 26, 0.8);
  $sub-color : #66ccffd6;
  $other-color : #619E8D;
  $gray-color : #7d7d7d;
  $font-color : #333333;
  $lg-color : #f7f7f7;
  $border-color : #7d7d7d30;
  $bg-info: #3d7694;
  $danger: #f76a6a;

  .bg-warning {
    color:$font-color !important;
  }

  .bg-info {
    background-color: $bg-info !important;
  }

  .bg-light {
    background-color: $lg-color !important;
    min-height: calc(100vh - 60px);
  }

  .primary-color {
    color: $primary-color;
  }

  .sub-color {
    color: $sub-color;
  }

  .bg-sub-color {
    background-color: darken($sub-color,30%);
    color: $lg-color;
    &:hover {
      background-color: darken($sub-color, 20%);
      color: $lg-color;
    }
  }

  .file-btn {
    background-color: $other-color !important;
    color: $lg-color;

    &:hover {
      background-color: lighten($other-color, 10%) !important;
      color: $lg-color;
    }
  }

  a,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  strong {
    color: $font-color;
  }

  html {
    height: 100%;

    body {
      height: 100%;
      position: relative;
      background: fixed url(../images/bg-image.jpg) no-repeat center/cover;
      font-family: 'Noto Sans TC', 'Helvetica', 'Arial', 'sans-serif', 'bootstrap-icons' !important;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.42857143;
      color: $font-color;

      .wrapper {
        padding-top: 2% !important;
      }

      main {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
      }

      .scrollbar {
        position: fixed;
        top: 0;
        height: 3px;
        background: $sub-color;
        transition-property: width, color;
        transition-duration: 1s, 1s;
        z-index: 99999;
      }


      header {
        font-size: .95rem;
        width: 100%;
        height: 60px;
        border-radius: 0;
        border: 1.5px solid transparent;
        transition: all 1s ease-in-out;

        &.ysr {
          background-color:darken($primary-color,10%) !important;
          box-shadow: 0 1px 40px rgba(0, 0, 0,50%);
          border: 1.5px solid $border-color;
        }

        .nav-link {
          text-decoration: none;
          color: $lg-color;
          position: relative;

          &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
          }

          &:focus,
          &:active,
          &:hover {
            color: rgba($sub-color,1) !important;
            &::before {
              content: '';
              position: absolute;
              width: 100%;
              height: 4px;
              background-color: $sub-color;
              transition: width .3s ease-in-out;
              border-radius: 2rem;
              bottom: -8px;
              left: 0;
            }
          }
        }
      }

      #main-container {
        background-color: rgba(51, 51, 51, 0.8);
        min-height: 100%;
      }

      #oml2d-stage {
        height: 0;
      }
    }
  }

  .btn-primary {
    text-decoration: none;
    background-color:$primary-color;
    border:none;

    &:focus,
    &:active,
    &:hover {
      background-color: lighten($primary-color, 15%);
    }

  }

  a {
    text-decoration: none;
  }





  hr {
    color: $lg-color;
  }


  .page-container {
    padding-top: 60px;
    position: relative;
  }

  .to_top {
    display: inline;
    position: fixed;
    right: 0;
    bottom: 1px;
    z-index: 9999;
    transition: opacity .3s ease-in-out;
  }

  .backdrop-f {
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

  #settingsPopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary-color;
    color: $lg-color;
    backdrop-filter: blur(0.25rem);
    -webkit-backdrop-filter: blur(0.25rem);
    border: 1px solid $lg-color;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    h3 {
      color: $lg-color !important;
    }
    
  }
  
