@import 'all.scss';
$calendar-color: #D77D77;
$lg-font-color: #f7f7f7;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#main-container {
    #data-section {

        #filter-wrapper {

            #filter {
                background-color: $primary-color;
                padding: 1rem;
                box-shadow: 0 1px 20px 2px rgba(26, 26, 26, 0.8);
                border-radius: 10px;
                transition: box-shadow .8s;
                margin: 0 auto;
                top: 100px;


                &:hover {
                    box-shadow: 0 1px 30px -2px lighten($calendar-color, 10%);
                }

                li {
                    display: inline-block;
                    padding: 0.25em 1.5em;
                    margin-bottom: 2px;

                    * {
                        width: 100%;
                    }

                    .export {
                        background-color: $calendar-color;
                        color: $lg-font-color;

                        &:hover {
                            background-color: darken($calendar-color, 5%);
                        }

                        &:focus {
                            box-shadow: 0 0 0 .25rem lighten($calendar-color, 5%) !important;
                        }
                    }

                    select {
                        color: $lg-font-color;
                        background-color: #303030;
                        border-radius: 5px;
                    }

                    input {
                        color: $lg-font-color;
                        width: 100%;
                        height: 2.25em;
                        background-color: #303030;
                        background-clip: padding-box;
                        padding: .375em .6em;
                        border: 2px solid darken($gray-color, 10%);
                        border-radius: 5px;
                        transition: border-color .15s ease-in-out;

                        &:focus {
                            outline: none;
                            border-color: $gray-color, 10%;
                        }

                        &::placeholder {
                            color: $gray-color;
                        }
                    }
                }
            }
        }

        p {
            color: darken($lg-font-color, 25%);
        }



        ul {
            list-style-type: none;
            background-color: #303030;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                border-left: 4px;
                border-left-style: solid;

                span {
                    padding: 1em;
                    width: 20%;
                    text-align: center;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    &:nth-of-type(2),
                    &:nth-of-type(6) {
                        width: 10%;
                    }
                }
            }
        }

        #events-table {
            #data-nav {
                padding: .5rem 0;
                display: flex;
                justify-content: space-between;
                background-color: transparent;

                #filter-perpage,
                input {
                    border-radius: 5px;
                }

                input {
                    padding: 4px;
                }
            }

            .left-items {
                display: flex;
                align-items: center;

                ul,
                li {
                    background-color: transparent;
                    border-left-style: none;
                }
            }

            .right-item {
                input {
                    height: 100%;
                }
            }


            .list-head li {
                background-color: #454545;
                border-left-color: darken($gray-color, 10%);

                span {
                    color: #b3b3b3;

                    &.sort {
                        cursor: pointer;

                        &:after {
                            content: "";
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: .3em .25em 0 .25em;
                            border-color: $lg-color transparent transparent transparent;
                            margin-left: .2em;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }

                    &.asc:after {
                        border-width: 0 .25em .3em .25em;
                        border-color: transparent transparent $lg-color transparent;
                    }
                }
            }

            .events-list {

                .event-item {
                    border-bottom: 1px solid #252525;
                    transition: background .3s ease;
                    position: relative;

                    &.finished {
                        background-color: darken(#303030, 5%) !important;
                        border-left-color: #1ebfe7 !important;

                        >span,
                        a {
                            color: #aaaaaa !important;
                        }
                    }

                    &.soon {
                        border: 1px dashed $danger;
                        border-left: 4px solid #FF0000 !important;

                        @media (min-width: 1200px) {
                            &:after {
                                content: url('data:image/svg+xml,%3Csvg%20t%3D%221716311243740%22%20class%3D%22icon%22%20viewBox%3D%220%200%201097%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20p-id%3D%2211324%22%20width%3D%2227%22%20height%3D%2227%22%3E%3Cpath%20d%3D%22M512%20585.143H292.571a36.571%2036.571%200%200%201%200-73.143H475.43V256a36.571%2036.571%200%200%201%2073.142%200v292.571A36.571%2036.571%200%200%201%20512%20585.143zM946.834%20413.33a36.571%2036.571%200%200%201-72.52%209.472c-25.967-199.021-196.28-349.66-398.885-349.66-222.172%200-402.286%20180.115-402.286%20402.287%200%20171.995%20108.91%20323.254%20268.47%20379.501a36.571%2036.571%200%201%201-24.283%2068.974A475.575%20475.575%200%200%201%200%20475.429C0%20212.846%20212.846%200%20475.429%200c239.433%200%20440.685%20177.993%20471.405%20413.33z%20m-117.138%2095.964l256%20402.285C1116.709%20960.293%201081.71%201024%201024%201024H512c-57.71%200-92.709-63.707-61.696-112.42l256-402.286a73.143%2073.143%200%200%201%20123.392%200zM768%20548.57L512%20950.857h512L768%20548.571z%20m0%20109.715a36.571%2036.571%200%200%201%2036.571%2036.571V768a36.571%2036.571%200%200%201-73.142%200v-73.143A36.571%2036.571%200%200%201%20768%20658.286z%20m0%20182.857a36.571%2036.571%200%201%201%200%2073.143%2036.571%2036.571%200%200%201%200-73.143z%22%20fill%3D%22%23f76a6a%22%20p-id%3D%2211325%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
                                position: absolute;
                                top: 30%;
                                left: 1.5rem;
                            }
                        }

                        >span {
                            color: $lg-color;
                        }

                        >span:nth-child(4) {
                            color: $danger;
                            font-weight: bold;
                        }


                    }

                    &:hover {
                        background-color: lighten(#303030, 3%);
                    }

                    span {
                        color: #fff;
                        padding-top: 1.75em;
                        padding-bottom: 1.75em;
                    }

                    &:nth-child(4n+1) {
                        border-left-color: #1f697b;
                    }

                    &:nth-child(4n+2) {
                        border-left-color: #197149;
                    }

                    &:nth-child(4n+3) {
                        border-left-color: #886f22;
                    }

                    &:nth-child(4n+4) {
                        border-left-color: #98552e;
                    }
                }
            }

            #tabs-nav {
                margin-top: 2px;

                ul {
                    background-color: transparent;
                    justify-content: end;

                    .page-item {
                        border-left-style: none;
                        border-left: 1px solid transparent;

                        .page-link {
                            background-color: $calendar-color;
                            color: $lg-font-color;
                            border-color: $lg-font-color;

                            &:focus {
                                box-shadow: none;
                                background-color: $lg-font-color;
                                color: $calendar-color;
                                border-color: $calendar-color;
                            }


                        }
                    }
                }
            }
        }


    }
}

.hero {
    width: 100%;
    height: 100%;
    display: grid;

}

#calendar {
    width: 90%;
    margin: 40px auto;
    box-shadow: 5px 0 18px -3px $border-color;
    -webkit-box-shadow: 5px 0 18px -3px $border-color;
    background-color: transparent;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);

    &.calendar-initialized.event-hide {
        .calendar-events {
            opacity: 0;
        }
    }

    .calendar-sidebar {
        background-color: transparent;
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        box-shadow: 5px 0 18px -3px $border-color;
        -webkit-box-shadow: 5px 0 18px -3px $border-color;
        color: $lg-font-color;

        .month-list {
            .calendar-months {
                li {
                    &:hover {
                        background-color: lighten($primary-color, 5%);
                    }

                    &.active-month {
                        background-color: $calendar-color;
                    }
                }
            }
        }

        #sidebarToggler {
            box-shadow: 5px 0 18px -3px $border-color;
            -webkit-box-shadow: 5px 0 18px -3px $border-color;
            background-color: $calendar-color;
            backdrop-filter: blur(7px);
            -webkit-backdrop-filter: blur(7px);

            .icon-button {
                .bars {
                    background-color: transparent;

                    &::before {
                        content: '\F479';
                        font-size: 1.5rem;
                        font-family: bootstrap-icons !important;
                        background-color: transparent;
                        top: -1.1rem;
                        box-shadow: 0 .5rem 1rem #D77D77;
                    }

                    @media screen and (max-width: 1024px) {
                        &::before {
                            font-size: 2rem;
                        }
                    }

                    &::after {
                        display: none;
                    }
                }
            }
        }

        p,
        span {
            color: $lg-font-color;
        }
    }

    .calendar-inner {
        box-shadow: 5px 0 18px -3px $border-color;
        -webkit-box-shadow: 5px 0 18px -3px $border-color;
        background-color: transparent;

        th[colspan="7"] {
            color: $lg-font-color;

            &::after {
                background-color: darken($lg-font-color, 35%);
                height: 3px;
            }
        }

        .calendar-table {
            .day.calendar-active {
                color: $lg-font-color;
                border-color: $calendar-color;

                &:hover {
                    background-color: $calendar-color;
                }
            }

            .calendar-day {
                .day {
                    &:hover {
                        color: $lg-font-color;
                        background-color: $calendar-color;
                    }
                }

                .day {
                    .event-indicator {
                        .type-bullet {
                            [class^="type-"] {
                                background-color: #FFFFFF;
                            }

                            [class='.type-想像台灣-1H'] {
                                background-color: #FFB347;
                            }

                            .type-新聞觀測站 {
                                background-color: #77DD77;
                            }

                            .type-愛的榮耀 {
                                background-color: #9932CC;
                            }

                            .type-快樂故事屋 {
                                background-color: #FFD700;
                            }

                            .type-台灣傳奇 {
                                background-color: #CD5C5C;
                            }

                            .type-全能歌手 {
                                background-color: #6495ED;
                            }

                            .type-美鳳有約 {
                                background-color: #ADFF2F;
                            }

                            .type-GoGoTaiwan {
                                background-color: #B0C4DE;
                            }

                            .type-娛樂超skr {
                                background-color: #8A2BE2;
                            }

                            .type-姊妹亮起來 {
                                background-color: #20B2AA;
                            }

                            .type-醫學大聯盟 {
                                background-color: #F08080;
                            }

                            .type-我們一家人 {
                                background-color: #FF7F50;
                            }

                            .type-綜藝大集合 {
                                background-color: #FFDAB9;
                            }

                            .type-綜藝新時代 {
                                background-color: #87CEEB;
                            }

                            .type-超級冰冰Show {
                                background-color: #d16eff;
                            }

                            [class='type-台灣趴趴走(1H)'] {
                                background-color: #5bf39f;
                            }



                            // .type-台灣最前線,
                            // .type-全國第一勇,
                            // .type-財經週末趴,
                            // .type-短影音\ -\ 全國第一勇,
                            // .type-SOT\ -\ 全國第一勇,
                            // .type-SOT\ -\ 台灣最前線 {
                            //     background-color: #FF6961;
                            // }
                        }
                    }
                }
            }


            .calendar-day .day.calendar-today {
                border: transparent 1px solid;
                color: $lg-font-color;
                background-color: transparent;

                &::after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: -.5rem;
                    right: -1.5rem;
                    width: 2rem;
                    height: 2rem;
                    background-image: url('../images/today.svg');
                    background-size: contain;
                }

                &:hover {
                    color: $lg-font-color;
                    background-color: $calendar-color;
                    border: 1px solid $calendar-color;
                }
            }
        }
    }

    .calendar-events {
        box-shadow: 5px 0 18px -3px $border-color;
        -webkit-box-shadow: 5px 0 18px -3px $border-color;

        .event-list {
            // min-height: 710px;

            .event-empty {
                border-color: $calendar-color;
                background-color: rgba($calendar-color, .1);

                p {
                    color: darken($calendar-color, 10%);
                }
            }
        }

        .event-container {
            &:hover {
                .event-icon {
                    position: relative;

                    &:hover::after {
                        content: '';
                        background-image: url(../images/trash-opening.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        &.event-icon::after {
                            display: none;
                        }
                    }
                }

                .event-icon>div {
                    height: 0;
                }


                .event-icon::after {
                    content: '';
                    background-image: url(../images/trash-can.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

            }

            .event-icon {
                [class^="event-bullet-"] {
                    background-color: #ffffff;
                }

                [class='.event-bullet-想像台灣(1H)'] {
                    background-color: #FFB347;
                }

                .event-bullet-新聞觀測站 {
                    background-color: #77DD77;
                }

                .event-bullet-愛的榮耀 {
                    background-color: #9932CC;
                }

                .event-bullet-快樂故事屋 {
                    background-color: #FFD700;
                }

                .event-bullet-台灣傳奇 {
                    background-color: #CD5C5C;
                }

                .event-bullet-全能歌手 {
                    background-color: #6495ED;
                }

                .event-bullet-美鳳有約 {
                    background-color: #ADFF2F;
                }

                .event-bullet-GoGoTaiwan {
                    background-color: #B0C4DE;
                }

                .event-bullet-娛樂超skr {
                    background-color: #8A2BE2;
                }

                .event-bullet-姊妹亮起來 {
                    background-color: #20B2AA;
                }

                .event-bullet-醫學大聯盟 {
                    background-color: #F08080;
                }

                .event-bullet-我們一家人 {
                    background-color: #FF7F50;
                }

                .event-bullet-綜藝大集合 {
                    background-color: #FFDAB9;
                }

                .event-bullet-綜藝新時代 {
                    background-color: #87CEEB;
                }

                .event-bullet-超級冰冰秀Show {
                    background-color: #d16eff;
                }

                [class='event-bullet-台灣趴趴走(1H)'] {
                    background-color: #5bf39f;
                }

                .event-bullet-台灣最前線,
                .event-bullet-全國第一勇,
                .event-bullet-財經週末趴,
                .event-bullet-短影音-全國第一勇,
                .event-bullet-SOT-全國第一勇,
                .event-bullet-SOT-台灣最前線 {
                    background-color: #FF6961;
                }

            }

            .event-info {
                p.event-title {

                    span {
                        color: $calendar-color;
                        border-color: $calendar-color;
                        background-color: rgba($calendar-color, .1);
                    }
                }
            }
        }
    }

    #eventListToggler {
        background-color: $calendar-color;
        box-shadow: $calendar-color;
    }
}

#Event-canvas {
    .mb-3 {

        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        label {
            font-size: 1rem;
            line-height: 1.125;
            margin-bottom: 1.25rem;
        }

        input {
            margin: 0.5rem 0.5rem;
        }

        .type-wrapper {
            display: flex;
            flex-direction: column;

            input {
                max-width: 88px;
                margin: 0;
            }
        }

    }

    .checkbox-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        user-select: none;

        &>* {
            margin: .5rem 0.5rem;
        }
    }

    #startDate,
    #endDate {
        margin: .75rem 0;
    }


    .checkbox-group-legend {
        font-size: 1rem;
        line-height: 1.125;
        margin-bottom: 1.25rem;
    }

    .checkbox-input {
        clip: rect(0 0 0 0);
        clip-path: inset(100%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;

        &:checked+.checkbox-tile {
            border-color: $calendar-color;
            box-shadow: 0 5px 10px rgba(#000, 0.1);
            color: $calendar-color;

            &:before {
                transform: scale(1);
                opacity: 1;
                background-color: $calendar-color;
                border-color: $calendar-color;
            }

            .checkbox-icon,
            .checkbox-label {
                color: $calendar-color;
            }
        }

        &:focus+.checkbox-tile {
            border-color: $calendar-color;
            box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px lighten($calendar-color, 20%);

            &:before {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    .checkbox-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 5.5rem;
        min-height: 5.5rem;
        border-radius: 0.5rem;
        border: 2px solid lighten($calendar-color, 20%);
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(#000, 0.1);
        transition: 0.15s ease;
        cursor: pointer;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            display: block;
            width: 1.25rem;
            height: 1.25rem;
            border: 2px solid lighten($calendar-color, 20%);
            background-color: #fff;
            border-radius: 50%;
            top: 0.25rem;
            left: 0.25rem;
            opacity: 0;
            transform: scale(0);
            transition: 0.25s ease;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        &:hover {
            border-color: $calendar-color;

            &:before {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    .checkbox-icon {
        transition: .375s ease;
        color: #494949;
        margin-bottom: 0.4rem;

        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    .checkbox-label {
        font-size: .9rem;
        color: #707070;
        transition: .375s ease;
        text-align: center;
    }

}

.ui-widget-content {
    z-index: 1046;
}


#quick-add-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    #quick-add-container {
        background-color: $primary-color;
        display: none;
        transition: width .3s ease;

        select {
            float: left;
            height: 29px;
            padding: 1.5px;
            border: 1px $gray-color solid;
        }

        input {
            border: 0;
            padding: 4px;
            width: 40px;
            height: 29px;
            border: 1px $gray-color solid;
        }

        button {
            float: right;
            border-radius: 0;
            width: 35px;
            height: 29px;
            background-color: $primary-color;
            border: 1px $gray-color solid;
            color: #FFF;
        }
    }


    #quick-add-btn {
        transition: border-radius .3s ease, color .3s ease, background-color .3s ease, transform .3s ease;
        color: #FFF;
        border: none;
        border-radius: 7px;

        &.active {

            transform: rotate(180deg);
            background-color: $calendar-color;
            color: #FFF;
            border-radius: 0;
        }

        &:active,
        &:focus {
            box-shadow: none
        }

        ;
    }
}