@import 'all.scss';
$calendar-color: #D77D77;
$lg-font-color: #f7f7f7;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#main-container {
    #data-section {
        p {
            color: darken($lg-font-color, 25%);
        }

        h4 {
            color: darken($lg-font-color, 15%);
        }

        #filter {
            margin-bottom: 2em;

            li {
                display: inline-block;

                input {
                    color: $lg-font-color;
                    width: 100%;
                    height: 2.25em;
                    background-color: #303030;
                    background-clip: padding-box;
                    padding: .375em .6em;
                    border: 2px solid darken($gray-color, 10%);
                    border-radius: 5px;
                    transition: border-color .15s ease-in-out;

                    &:focus {
                        outline: none;
                        border-color: $gray-color, 10%;
                    }

                    &::placeholder {
                        color: $gray-color;
                    }
                }

                &.sort {
                    border-left: 1px solid darken($gray-color, 10%);
                    padding: .25em 1.5em;
                    cursor: pointer;
                    position: relative;
                    color: lighten($gray-color, 25%);

                    &:after {
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: .3em .25em 0 .25em;
                        border-color: $gray-color transparent transparent transparent;
                        margin-left: .2em;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }

                &.asc:after {
                    border-width: 0 .25em .3em .25em;
                    border-color: transparent transparent $gray-color transparent;
                }
            }
        }

        ul {
            list-style-type: none;
            background-color: #303030;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                border-left: 4px;
                border-left-style: solid;

                span {
                    padding: 1em;
                    width: 20%;
                    text-align: center;

                    &:nth-of-type(2),
                    &:nth-of-type(6) {
                        width: 10%;
                    }
                }
            }
        }

        .list-head li {
            background-color: #454545;
            border-left-color: darken($gray-color, 10%);

            span {
                color: #b3b3b3;
            }
        }

        .event-item {
            border-bottom: 1px solid #252525;
            transition: background .3s ease;
            position: relative;

            &.soon {
                border: dashed $danger !important;
                &:after {
                    // content: url('data:image/svg+xml,%3Csvg%20t%3D%221716311243740%22%20class%3D%22icon%22%20viewBox%3D%220%200%201097%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20p-id%3D%2211324%22%20width%3D%2240%22%20height%3D%2240%22%3E%3Cpath%20d%3D%22M512%20585.143H292.571a36.571%2036.571%200%200%201%200-73.143H475.43V256a36.571%2036.571%200%200%201%2073.142%200v292.571A36.571%2036.571%200%200%201%20512%20585.143zM946.834%20413.33a36.571%2036.571%200%200%201-72.52%209.472c-25.967-199.021-196.28-349.66-398.885-349.66-222.172%200-402.286%20180.115-402.286%20402.287%200%20171.995%20108.91%20323.254%20268.47%20379.501a36.571%2036.571%200%201%201-24.283%2068.974A475.575%20475.575%200%200%201%200%20475.429C0%20212.846%20212.846%200%20475.429%200c239.433%200%20440.685%20177.993%20471.405%20413.33z%20m-117.138%2095.964l256%20402.285C1116.709%20960.293%201081.71%201024%201024%201024H512c-57.71%200-92.709-63.707-61.696-112.42l256-402.286a73.143%2073.143%200%200%201%20123.392%200zM768%20548.57L512%20950.857h512L768%20548.571z%20m0%20109.715a36.571%2036.571%200%200%201%2036.571%2036.571V768a36.571%2036.571%200%200%201-73.142%200v-73.143A36.571%2036.571%200%200%201%20768%20658.286z%20m0%20182.857a36.571%2036.571%200%201%201%200%2073.143%2036.571%2036.571%200%200%201%200-73.143z%22%20fill%3D%22%23ffffff%22%20p-id%3D%2211325%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
                    content: url('data:image/svg+xml,%3Csvg%20t%3D%221716316396502%22%20class%3D%22icon%22%20viewBox%3D%220%200%201828%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20p-id%3D%227262%22%20width%3D%22128%22%20height%3D%22128%22%3E%3Cpath%20d%3D%22M903.826286%20827.465143l0.987428-26.587429c-13.641143%202.523429-25.270857%204.242286-36.608%207.094857-3.108571%200.731429-7.241143%204.644571-7.460571%207.277715%200.402286%203.657143%202.669714%206.838857%205.997714%208.374857a18.285714%2018.285714%200%200%200%2010.752-4.461714c6.144-4.790857%2012.8-8.996571%2019.785143-12.544-3.072%2020.699429-7.277714%2024.064-24.502857%2025.453714a72.594286%2072.594286%200%200%200-36.900572%2010.825143c-12.288%208.155429-30.171429%207.570286-45.531428%2011.154285-47.798857%2011.117714-95.414857%2022.491429-143.140572%2033.682286l-150.308571%2034.962286-2.340571-26.221714-46.08%2010.788571c8.484571%2012.068571%2013.750857%2018.797714%2022.930285%204.169143%203.218286-4.973714%2011.885714-6.546286%2021.942857-11.556572-6.217143%2017.298286-11.337143%2026.185143-27.245714%2027.282286-14.006857%200.987429-27.538286%207.936-41.581714%2011.337143-30.610286%207.570286-61.330286%2014.628571-92.086857%2021.686857-52.187429%2012.105143-104.448%2024.027429-156.708572%2035.693714a58.733714%2058.733714%200%200%201-22.601143%200.914286c-11.958857-2.194286-21.942857-7.241143-13.641142-19.236571-19.273143-25.965714-15.945143-56.722286-27.648-83.236572l13.824-6.326857-0.548572-3.291428-17.993143%200.365714%208.301715-13.568a112.384%20112.384%200%200%201-11.337143-21.357714%202051.035429%202051.035429%200%200%201-18.578286-75.190858C68.022857%20701.074286%2050.834286%20627.273143%2033.645714%20553.508571c-1.755429-7.826286-7.497143-17.444571%202.340572-19.163428a76.617143%2076.617143%200%200%201-9.984-17.225143%201052.16%201052.16%200%200%201-14.262857-57.490286c-2.011429-8.630857-7.058286-17.408%202.084571-26.038857%201.718857-1.572571-1.243429-9.947429-3.657143-13.933714-2.450286-3.876571-9.435429-5.558857-9.728-8.667429a45.714286%2045.714286%200%200%201%202.962286-23.552c2.194286-4.352%2010.605714-5.851429%2016.530286-7.789714%202.816-0.841143%206.509714%201.28%209.362285%200.365714%2028.233143-8.923429%2056.283429-18.176%2086.308572-28.013714%200%206.912-0.292571%2010.971429-0.365715%2015.36%202.084571-0.329143%203.730286%200%203.949715-0.621714%208.923429-19.931429%2028.525714-21.577143%2045.348571-23.04%2026.148571-2.304%2049.627429-13.092571%2074.971429-17.737143%203.657143-0.658286%207.314286-0.914286%2011.812571-1.536%202.998857%207.789714-7.168%2022.198857%208.923429%2021.577143-0.731429-7.314286-4.937143-17.627429-1.462857-21.284572%204.461714-5.046857%2014.445714-5.046857%2022.089142-6.838857%2037.412571-9.033143%2075.008-17.92%20112.713143-26.514286%2073.289143-16.676571%20146.651429-32.804571%20219.904-49.956571%2015.616-3.584%2030.610286-9.545143%2047.981715-14.957714%200%2010.861714-9.472%2023.149714%206.107428%2024.027428-0.365714-6.912-2.340571-13.750857-0.438857-19.126857%201.28-3.693714%207.68-6.875429%2012.324571-7.972571%2060.16-13.787429%20120.393143-27.062857%20180.516572-40.886857%2059.062857-13.531429%20117.942857-27.904%20177.152-40.996572%2014.409143-3.254857%2029.732571-1.572571%2044.580571-4.571428%2010.605714-2.194286%2020.150857-11.446857%2030.537143-12.214858%2027.721143-2.084571%2052.333714-14.994286%2079.36-19.602285%2028.525714-4.644571%2056.466286-12.873143%2084.772572-19.273143%2011.776-2.669714%2023.954286-5.302857%2032.548571%206.985143%203.803429%205.449143%206.765714%2011.52%2011.702857%2019.968-48.603429%207.716571-90.660571%2025.746286-135.68%2025.673143l-0.256-4.022858c-2.450286%203.181714-4.498286%208.630857-7.424%209.142858-21.321143%203.657143-42.861714%205.668571-64.146286%209.691428-8.118857%201.572571-15.177143%208.630857-23.332571%2010.532572-107.593143%2024.905143-215.222857%2049.92-323.035429%2073.874285-9.508571%202.121143-23.990857-0.658286-30.354285-6.948571-7.460571-7.460571-11.995429-5.961143-19.456-3.876572a106.057143%20106.057143%200%200%201-22.601143%203.547429c-10.752%200.621714-11.556571%205.705143-7.716572%2014.262857%2012.141714%201.718857%2024.795429-13.714286%2039.68%202.998857l-19.858285%204.571429c-115.382857%2026.294857-230.436571%2052.955429-345.965715%2078.665143-9.874286%202.194286-24.027429%202.121143-30.976-3.474286-17.773714-14.262857-32.914286%200.658286-49.042285%200.658286-1.572571%200-3.145143%206.436571-5.010286%2010.386285%2013.897143%202.998857%2025.161143-11.666286%2038.802286%201.718858l-281.088%2065.828571c1.243429%207.497143%201.755429%2012.8%202.998857%2017.993143%2013.714286%2059.904%2027.830857%20119.844571%2041.142857%20180.187428%201.974857%208.996571%200.219429%2018.651429%200.219429%2030.866286%2010.605714%207.168%2015.652571%2019.968%2018.870857%2056.137143l-15.286857%206.765714-0.438858%203.181715%2019.492572%204.059428c11.483429%2049.956571%2023.003429%20100.278857%2034.706286%20150.564572%207.753143%2033.170286%2015.542857%2066.267429%2024.283428%2099.145142%200.768%202.998857%209.142857%206.656%2013.129143%205.705143%2085.284571-19.382857%20170.422857-39.606857%20255.707429-59.099428%20109.824-25.051429%20219.794286-49.737143%20329.764571-74.020572%206.217143-1.389714%2013.385143%201.097143%2019.456-0.548571%2010.496-2.852571%2020.114286-8.777143%2030.646857-11.227429a276355.657143%20276355.657143%200%200%201%20503.588572-116.370285c64.950857-14.994286%20129.755429-30.354286%20193.901714-45.348572%207.131429%2012.544%2024.832%2014.409143%2028.452571%203.730286%203.657143-10.678857%2010.861714-10.788571%2018.285715-12.507429%2074.532571-17.444571%20149.101714-34.816%20223.670857-52.114285l16.457143-3.84-32.548572-140.946286c-10.605714-46.08-21.796571-92.086857-31.670857-138.349714-9.874286-46.336-16.932571-93.257143-27.794286-139.300572-10.605714-44.982857-24.429714-89.6-35.949714-130.742857-10.678857-5.595429-19.821714-10.788571-29.074286-14.994286-8.521143-3.913143-17.005714-13.165714-26.843428-1.353143-1.353143%201.609143-6.4%200-9.910857%200l-0.365715%204.388572%2027.318857%202.084571c-1.133714%2011.666286-6.546286%2016.274286-19.163428%2014.628572-5.339429-0.658286-11.190857%205.010286-17.078857%206.290285-32.914286%206.656-65.901714%2012.726857-98.779429%2019.382858-6.107429%201.28-11.593143%205.412571-17.700571%206.473142-23.076571%203.949714-46.189714%207.131429-69.485715%2010.642286l-0.621714%205.558857c-2.377143-0.585143-5.668571-0.365714-7.021714-1.901714-6.509714-7.460571-12.507429-15.469714-20.772572-25.965714%2033.389714-7.826286%2065.353143-15.652571%2097.499429-22.674286C1510.912%2034.011429%201549.714286%2026.514286%201588.370286%2018.139429c8.850286-1.938286%2017.188571-6.656%2026.112-8.301715%2011.593143-2.157714%2025.673143-10.971429%2031.926857%208.630857%202.56%200%205.12-0.329143%207.643428-0.841142L1645.860571%201.462857l30.354286-1.28-2.852571%2014.518857%206.948571%203.84%201.938286-16.457143%2011.337143%208.813715c-1.243429%202.194286-1.536%203.584-2.267429%203.803428-2.596571%200.694857-5.302857%200.987429-8.009143%201.462857%201.170286%202.523429%202.56%204.973714%204.169143%207.204572%203.657143%204.352%209.874286%207.753143%2011.117714%2012.544a6608.457143%206608.457143%200%200%201%2029.330286%20125.44l-15.213714%208.192c23.771429%207.606857%2022.528%2028.196571%2026.624%2044.397714%2022.674286%2091.062857%2044.361143%20182.345143%2066.011428%20273.627429%207.570286%2032.036571%2014.226286%2064.292571%2021.101715%2096.548571%204.681143%2021.942857%202.413714%2025.673143-18.944%2031.451429-55.222857%2014.994286-110.116571%2030.939429-165.668572%2044.105143-98.669714%2023.405714-197.778286%2044.909714-296.630857%2067.291428-51.931429%2011.739429-103.753143%2024.137143-155.794286%2035.693714-38.4%208.521143-77.129143%2015.725714-115.492571%2024.393143-36.498286%208.228571-72.667429%2017.481143-109.092571%2026.148572-19.785143%204.937143-39.643429%209.325714-61.001143%2014.299428z%22%20fill%3D%22%23FF4F4C%22%20p-id%3D%227263%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M487.972571%20493.458286l63.414858-14.628572-12.434286-53.796571%2024.941714-5.778286%2012.434286%2053.796572%2075.885714-17.517715%2024.868572%20107.629715%2027.794285-6.436572%205.741715%2024.941714-97.28%2022.491429c33.28%2043.337143%2077.604571%2074.386286%20132.644571%2093.257143l-12.873143%2023.954286c-56.100571-21.942857-101.376-55.405714-135.497143-100.827429-2.852571%2060.708571-24.941714%20109.714286-66.084571%20147.748571l-20.553143-17.408c40.009143-34.742857%2061.001143-80.530286%2062.098286-137.435428l-69.12%2015.945143-5.778286-24.941715%2074.130286-17.115428a361.837714%20361.837714%200%200%200-8.265143-53.650286l-7.131429-30.976-63.451428%2014.628572-5.485715-23.881143z%20m93.878858%203.474285l5.924571%2025.673143c4.754286%2020.662857%207.789714%2040.228571%209.142857%2059.062857l55.222857-12.763428-19.346285-83.748572-50.944%2011.776z%20m-206.774858%2037.595429l20.662858-3.254857c7.131429%2035.876571%2010.752%2071.094857%2010.678857%20104.886857l-22.418286-1.206857c0.731429-32.475429-2.084571-65.974857-8.923429-100.425143z%20m87.990858-28.525714c15.250286%2020.48%2029.805714%2044.507429%2044.470857%2072.265143l-19.858286%209.874285c-12.617143-25.234286-26.697143-49.005714-42.422857-71.68l17.810286-10.496z%20m-65.462858-47.981715l25.270858-5.851428%2074.861714%20324.278857-25.307429%205.851429-74.861714-324.278858z%20m553.874286%20152.502858l5.851429%2025.307428a2254.189714%202254.189714%200%200%201-170.715429%2070.217143l-11.337143-23.296c27.721143-9.801143%2054.710857-19.748571%2080.822857-30.317714L840.484571%20585.142857l-69.485714%2016.018286-5.741714-24.941714%2069.485714-16.018286-9.545143-41.325714%2025.636572-5.961143%209.545143%2041.325714%2064.146285-14.774857%205.778286%2024.941714-64.146286%2014.811429%2014.555429%2063.049143a1555.090286%201555.090286%200%200%200%2070.729143-31.707429z%20m-236.617143-210.358858l177.115429-40.886857%205.595428%2024.246857-91.574857%2021.138286c-8.886857%2039.570286-18.724571%2069.997714-29.513143%2091.611429%2034.450286-11.702857%2066.962286-23.698286%2097.718858-36.790857-10.788571-11.044571-22.674286-21.796571-35.328-32.768l16.64-17.371429c31.268571%2026.587429%2055.954286%2050.541714%2074.276571%2071.460571l-17.92%2019.894858c-6.765714-8.192-13.897143-16.310857-21.833143-24.612572-43.081143%2018.212571-91.062857%2036.388571-143.250286%2054.089143l-11.410285-21.76c4.096-1.718857%207.497143-3.254857%209.764571-4.900571%2011.629714-16.201143%2022.930286-46.957714%2033.792-92.598858l-58.441143%2013.494858-5.595428-24.246858z%20m342.308572%20245.284572l-52.406857%2012.068571-11.446858-23.625143c17.261714-3.218286%2033.792-6.290286%2049.481143-9.910857%209.984-2.304%2014.08-8.886857%2011.702857-19.236571L989.110857%20321.462857l26.002286-5.997714%2066.889143%20289.718857c5.010286%2021.723429-3.474286%2035.328-24.868572%2040.228571zM925.257143%20369.993143l24.941714-5.778286%2050.907429%20220.598857-24.941715%205.741715-50.907428-220.562286z%20m164.352-71.716572l24.941714-5.778285%209.216%2039.936%2069.485714-16.091429-9.069714-39.131428%2024.941714-5.778286%209.069715%2039.168%2021.357714-4.937143%205.522286%2023.881143-21.394286%204.937143%2034.816%20150.747428%2023.149714-5.339428%205.595429%2024.210285-168.557714%2038.912-5.595429-24.210285%2026.038857-6.034286-34.816-150.710857-22.089143%205.12-5.485714-23.881143%2022.089143-5.12-9.216-39.899429z%20m74.459428%20208.749715l69.485715-16.054857-8.045715-34.925715-69.485714%2016.091429%208.045714%2034.889143z%20m34.669715-166.765715l-69.485715%2016.018286%208.228572%2035.657143%2069.485714-16.054857-8.228571-35.620572z%20m-47.908572%20109.385143l69.485715-16.018285-8.155429-35.291429-69.485714%2016.054857%208.155428%2035.254857z%20m84.041143%2076.324572c21.686857%2017.517714%2038.875429%2033.426286%2051.382857%2047.067428%2015.872-38.582857%2018.029714-83.017143%207.204572-133.046857l-38.509715-166.765714%20118.308572-27.318857%2064.512%20279.405714c4.681143%2020.297143-3.620571%2033.097143-24.283429%2037.851429l-37.778285%208.740571-12.946286-23.661714c13.348571-2.340571%2025.6-4.425143%2037.010286-7.058286%209.252571-2.121143%2012.653714-8.557714%2010.203428-19.236571l-16.859428-73.069715-69.12%2015.981715c5.851429%2048.164571%200.548571%2090.331429-15.725715%20127.085714l-23.771428-13.641143c0.548571-0.877714%200.731429-1.682286%200.914285-2.450286l-15.725714%2017.92a429.202286%20429.202286%200%200%200-51.894857-50.724571l17.078857-17.078857z%20m-69.558857%2015.689143l22.966857%205.193142a311.332571%20311.332571%200%200%201-31.561143%2077.860572l-23.698285-9.947429c13.787429-21.577143%2024.685714-45.860571%2032.292571-73.142857z%20m140.361143-164.169143l12.617143%2054.491428c0.731429%203.254857%201.024%206.180571%201.682285%209.033143l67.693715-15.652571-14.628572-63.414857-67.364571%2015.542857z%20m61.915428-39.058286l-14.372571-62.354286-67.364571%2015.542857%2014.409142%2062.354286%2067.328-15.542857z%22%20fill%3D%22%23FF4F4C%22%20p-id%3D%227264%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
                    position: absolute;
                    transform: rotate(-25deg);
                    top: -80%;
                    left: -4rem;
                }

                >span {
                    color: $lg-color;
                }

                >span:nth-child(4) {
                    color: $danger;
                    font-weight: bold;
                }


            }

            &:hover {
                background-color: lighten(#303030, 3%);
            }

            span {
                color: #fff;
                padding-top: 1.75em;
                padding-bottom: 1.75em;
            }

            &:nth-child(4n+1) {
                border-left-color: #1f697b;
            }

            &:nth-child(4n+2) {
                border-left-color: #197149;
            }

            &:nth-child(4n+3) {
                border-left-color: #886f22;
            }

            &:nth-child(4n+4) {
                border-left-color: #98552e;
            }
        }
    }
}

.hero {
    width: 100%;
    height: 100%;
    display: grid;

}

#calendar {
    width: 90%;
    margin: 40px auto;
    box-shadow: 5px 0 18px -3px $border-color;
    -webkit-box-shadow: 5px 0 18px -3px $border-color;
    background-color: transparent;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);

    &.calendar-initialized.event-hide {
        .calendar-events {
            opacity: 0;
        }
    }

    .calendar-sidebar {
        background-color: transparent;
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        box-shadow: 5px 0 18px -3px $border-color;
        -webkit-box-shadow: 5px 0 18px -3px $border-color;
        color: $lg-font-color;

        .month-list {
            .calendar-months {
                li {
                    &:hover {
                        background-color: lighten($primary-color, 5%);
                    }

                    &.active-month {
                        background-color: $calendar-color;
                    }
                }
            }
        }

        #sidebarToggler {
            box-shadow: 5px 0 18px -3px $border-color;
            -webkit-box-shadow: 5px 0 18px -3px $border-color;
            background-color: $calendar-color;
            backdrop-filter: blur(7px);
            -webkit-backdrop-filter: blur(7px);

            .icon-button {
                .bars {
                    background-color: transparent;

                    &::before {
                        content: '\F479';
                        font-size: 1.5rem;
                        font-family: bootstrap-icons !important;
                        background-color: transparent;
                        top: -1.1rem;
                        box-shadow: 0 .5rem 1rem #D77D77;
                    }

                    @media screen and (max-width: 1024px) {
                        &::before {
                            font-size: 2rem;
                        }
                    }

                    &::after {
                        display: none;
                    }
                }
            }
        }

        p,
        span {
            color: $lg-font-color;
        }
    }

    .calendar-inner {
        box-shadow: 5px 0 18px -3px $border-color;
        -webkit-box-shadow: 5px 0 18px -3px $border-color;
        background-color: transparent;

        th[colspan="7"] {
            color: $lg-font-color;

            &::after {
                background-color: darken($lg-font-color, 35%);
                height: 3px;
            }
        }

        .calendar-table {
            .day.calendar-active {
                color: $lg-font-color;
                border-color: $calendar-color;

                &:hover {
                    background-color: $calendar-color;
                }
            }

            .calendar-day {
                .day {
                    &:hover {
                        color: $lg-font-color;
                        background-color: $calendar-color;
                    }
                }

                .day {
                    .event-indicator {
                        .type-bullet {
                            .type-台灣學堂 {
                                background-color: #FFB347;
                            }

                            .type-新聞觀測站 {
                                background-color: #77DD77;
                            }

                            .type-台灣最前線 {
                                background-color: #FF6961;
                            }

                            .type-全國第一勇 {
                                background-color: #4682B4;
                            }

                            .type-愛的榮耀 {
                                background-color: #9932CC;
                            }

                            .type-故事屋 {
                                background-color: #FFD700;
                            }

                            .type-台灣傳奇 {
                                background-color: #CD5C5C;
                            }

                            .type-全能歌手 {
                                background-color: #6495ED;
                            }

                            .type-美鳳有約 {
                                background-color: #ADFF2F;
                            }

                            .type-GoGo台灣 {
                                background-color: #B0C4DE;
                            }

                            .type-娛樂超skr {
                                background-color: #8A2BE2;
                            }

                            .type-姊妹亮起來 {
                                background-color: #20B2AA;
                            }

                            .type-醫學大聯盟 {
                                background-color: #F08080;
                            }

                            .type-我們一家人 {
                                background-color: #FF7F50;
                            }

                            .type-綜藝大集合 {
                                background-color: #FFDAB9;
                            }

                            .type-綜藝新時代 {
                                background-color: #87CEEB;
                            }
                        }
                    }
                }
            }


            .calendar-day .day.calendar-today {
                border: transparent 1px solid;
                color: $lg-font-color;
                background-color: transparent;

                &::after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: -.5rem;
                    right: -1.5rem;
                    width: 2rem;
                    height: 2rem;
                    background-image: url('../images/today.svg');
                    background-size: contain;
                }

                &:hover {
                    color: $lg-font-color;
                    background-color: $calendar-color;
                    border: 1px solid $calendar-color;
                }
            }
        }
    }

    .calendar-events {
        box-shadow: 5px 0 18px -3px $border-color;
        -webkit-box-shadow: 5px 0 18px -3px $border-color;

        .event-list {
            .event-empty {
                border-color: $calendar-color;
                background-color: rgba($calendar-color, .1);

                p {
                    color: darken($calendar-color, 10%);
                }
            }
        }

        .event-container {
            .event-icon {
                .event-bullet-台灣學堂 {
                    background-color: #FFB347;
                }

                .event-bullet-新聞觀測站 {
                    background-color: #77DD77;
                }

                .event-bullet-台灣最前線 {
                    background-color: #FF6961;
                }

                .event-bullet-全國第一勇 {
                    background-color: #4682B4;
                }

                .event-bullet-愛的榮耀 {
                    background-color: #9932CC;
                }

                .event-bullet-故事屋 {
                    background-color: #FFD700;
                }

                .event-bullet-台灣傳奇 {
                    background-color: #CD5C5C;
                }

                .event-bullet-全能歌手 {
                    background-color: #6495ED;
                }

                .event-bullet-美鳳有約 {
                    background-color: #ADFF2F;
                }

                .event-bullet-GoGo台灣 {
                    background-color: #B0C4DE;
                }

                .event-bullet-娛樂超skr {
                    background-color: #8A2BE2;
                }

                .event-bullet-姊妹亮起來 {
                    background-color: #20B2AA;
                }

                .event-bullet-醫學大聯盟 {
                    background-color: #F08080;
                }

                .event-bullet-我們一家人 {
                    background-color: #FF7F50;
                }

                .event-bullet-綜藝大集合 {
                    background-color: #FFDAB9;
                }

                .event-bullet-綜藝新時代 {
                    background-color: #87CEEB;
                }


            }

            .event-info {
                p.event-title {
                    span {
                        color: $calendar-color;
                        border-color: $calendar-color;
                        background-color: rgba($calendar-color, .1);
                    }
                }
            }
        }
    }

    #eventListToggler {
        background-color: $calendar-color;
        box-shadow: $calendar-color;
    }
}

#Event-canvas {
    .mb-3 {

        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        label {
            font-size: 1rem;
            line-height: 1.125;
            margin-bottom: 1.25rem;
        }

        input {
            margin: 0.5rem 0.5rem;
        }

        .type-wrapper {
            display: flex;
            flex-direction: column;

            input {
                max-width: 88px;
                margin: 0;
            }
        }

    }

    .checkbox-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        user-select: none;

        &>* {
            margin: .5rem 0.5rem;
        }
    }



    .checkbox-group-legend {
        font-size: 1rem;
        line-height: 1.125;
        margin-bottom: 1.25rem;
    }

    .checkbox-input {
        clip: rect(0 0 0 0);
        clip-path: inset(100%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;

        &:checked+.checkbox-tile {
            border-color: $calendar-color;
            box-shadow: 0 5px 10px rgba(#000, 0.1);
            color: $calendar-color;

            &:before {
                transform: scale(1);
                opacity: 1;
                background-color: $calendar-color;
                border-color: $calendar-color;
            }

            .checkbox-icon,
            .checkbox-label {
                color: $calendar-color;
            }
        }

        &:focus+.checkbox-tile {
            border-color: $calendar-color;
            box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px lighten($calendar-color, 20%);

            &:before {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    .checkbox-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 5.5rem;
        min-height: 5.5rem;
        border-radius: 0.5rem;
        border: 2px solid lighten($calendar-color, 20%);
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(#000, 0.1);
        transition: 0.15s ease;
        cursor: pointer;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            display: block;
            width: 1.25rem;
            height: 1.25rem;
            border: 2px solid lighten($calendar-color, 20%);
            background-color: #fff;
            border-radius: 50%;
            top: 0.25rem;
            left: 0.25rem;
            opacity: 0;
            transform: scale(0);
            transition: 0.25s ease;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        &:hover {
            border-color: $calendar-color;

            &:before {
                transform: scale(1);
                opacity: 1;
            }
        }
    }

    .checkbox-icon {
        transition: .375s ease;
        color: #494949;
        margin-bottom: 0.4rem;

        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    .checkbox-label {
        font-size: .9rem;
        color: #707070;
        transition: .375s ease;
        text-align: center;
    }

}

.ui-widget-content {
    z-index: 1046;
}