@charset "UTF-8";
.bg-warning {
  color: #333333 !important;
}

.bg-info {
  background-color: #3d7694 !important;
}

.bg-light {
  background-color: #f7f7f7 !important;
  min-height: calc(100vh - 60px);
}

.primary-color {
  color: rgba(26, 26, 26, 0.8);
}

.sub-color {
  color: rgba(102, 204, 255, 0.8392156863);
}

.bg-sub-color {
  background-color: rgba(0, 136, 204, 0.8392156863);
  color: #f7f7f7;
}
.bg-sub-color:hover {
  background-color: rgba(0, 170, 255, 0.8392156863);
  color: #f7f7f7;
}

.file-btn {
  background-color: #619E8D !important;
  color: #f7f7f7;
}
.file-btn:hover {
  background-color: #81b1a4 !important;
  color: #f7f7f7;
}

a,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
strong {
  color: #333333;
}

html {
  height: 100%;
}
html body {
  height: 100%;
  position: relative;
  background: fixed url(../images/bg-image.jpg) no-repeat center/cover;
  font-family: "Noto Sans TC", "Helvetica", "Arial", "sans-serif", "bootstrap-icons" !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
}
html body .wrapper {
  padding-top: 2% !important;
}
html body main {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
html body .scrollbar {
  position: fixed;
  top: 0;
  height: 3px;
  background: rgba(102, 204, 255, 0.8392156863);
  transition-property: width, color;
  transition-duration: 1s, 1s;
  z-index: 99999;
}
html body header {
  font-size: 0.95rem;
  width: 100%;
  height: 60px;
  border-radius: 0;
  border: 1.5px solid transparent;
  transition: all 1s ease-in-out;
}
html body header.ysr {
  background-color: rgba(1, 1, 1, 0.8) !important;
  box-shadow: 0 1px 40px rgba(0, 0, 0, 0.5);
  border: 1.5px solid rgba(125, 125, 125, 0.1882352941);
}
html body header .nav-link {
  text-decoration: none;
  color: #f7f7f7;
  position: relative;
}
html body header .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
}
html body header .nav-link:focus, html body header .nav-link:active, html body header .nav-link:hover {
  color: #66ccff !important;
}
html body header .nav-link:focus::before, html body header .nav-link:active::before, html body header .nav-link:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: rgba(102, 204, 255, 0.8392156863);
  transition: width 0.3s ease-in-out;
  border-radius: 2rem;
  bottom: -8px;
  left: 0;
}
html body #main-container {
  background-color: rgba(51, 51, 51, 0.8);
  min-height: 100%;
}
html body #oml2d-stage {
  height: 0;
}

.btn-primary {
  text-decoration: none;
  background-color: rgba(26, 26, 26, 0.8);
  border: none;
}
.btn-primary:focus, .btn-primary:active, .btn-primary:hover {
  background-color: rgba(64, 64, 64, 0.8);
}

a {
  text-decoration: none;
}

hr {
  color: #f7f7f7;
}

.page-container {
  padding-top: 60px;
  position: relative;
}

.to_top {
  display: inline;
  position: fixed;
  right: 0;
  bottom: 1px;
  z-index: 9999;
  transition: opacity 0.3s ease-in-out;
}

.backdrop-f {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#settingsPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(26, 26, 26, 0.8);
  color: #f7f7f7;
  backdrop-filter: blur(0.25rem);
  -webkit-backdrop-filter: blur(0.25rem);
  border: 1px solid #f7f7f7;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
#settingsPopup h3 {
  color: #f7f7f7 !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#main-container #data-section #filter-wrapper #filter {
  background-color: rgba(26, 26, 26, 0.8);
  padding: 1rem;
  box-shadow: 0 1px 20px 2px rgba(26, 26, 26, 0.8);
  border-radius: 10px;
  transition: box-shadow 0.8s;
  margin: 0 auto;
  top: 100px;
}
#main-container #data-section #filter-wrapper #filter:hover {
  box-shadow: 0 1px 30px -2px #e3a39e;
}
#main-container #data-section #filter-wrapper #filter li {
  display: inline-block;
  padding: 0.25em 1.5em;
  margin-bottom: 2px;
}
#main-container #data-section #filter-wrapper #filter li * {
  width: 100%;
}
#main-container #data-section #filter-wrapper #filter li #export {
  background-color: #D77D77;
  color: #f7f7f7;
}
#main-container #data-section #filter-wrapper #filter li #export:hover {
  background-color: #d16a63;
}
#main-container #data-section #filter-wrapper #filter li #export:focus {
  box-shadow: 0 0 0 0.25rem #dd908b !important;
}
#main-container #data-section #filter-wrapper #filter li select {
  color: #f7f7f7;
  background-color: #303030;
  border-radius: 5px;
}
#main-container #data-section #filter-wrapper #filter li input {
  color: #f7f7f7;
  width: 100%;
  height: 2.25em;
  background-color: #303030;
  background-clip: padding-box;
  padding: 0.375em 0.6em;
  border: 2px solid #646464;
  border-radius: 5px;
  transition: border-color 0.15s ease-in-out;
}
#main-container #data-section #filter-wrapper #filter li input:focus {
  outline: none;
  border-color: #7d7d7d, 10%;
}
#main-container #data-section #filter-wrapper #filter li input::-moz-placeholder {
  color: #7d7d7d;
}
#main-container #data-section #filter-wrapper #filter li input::placeholder {
  color: #7d7d7d;
}
#main-container #data-section p {
  color: #b7b7b7;
}
#main-container #data-section ul {
  list-style-type: none;
  background-color: #303030;
  padding: 0;
  margin: 0;
}
#main-container #data-section ul li {
  display: flex;
  border-left: 4px;
  border-left-style: solid;
}
#main-container #data-section ul li span {
  padding: 1em;
  width: 20%;
  text-align: center;
}
#main-container #data-section ul li span:nth-of-type(2), #main-container #data-section ul li span:nth-of-type(6) {
  width: 10%;
}
#main-container #data-section #events-table .list-head li {
  background-color: #454545;
  border-left-color: #646464;
}
#main-container #data-section #events-table .list-head li span {
  color: #b3b3b3;
}
#main-container #data-section #events-table .list-head li span.sort {
  cursor: pointer;
}
#main-container #data-section #events-table .list-head li span.sort:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.3em 0.25em 0 0.25em;
  border-color: #f7f7f7 transparent transparent transparent;
  margin-left: 0.2em;
  display: inline-block;
  vertical-align: middle;
}
#main-container #data-section #events-table .list-head li span.asc:after {
  border-width: 0 0.25em 0.3em 0.25em;
  border-color: transparent transparent #f7f7f7 transparent;
}
#main-container #data-section #events-table .events-list {
  min-height: 710px;
}
#main-container #data-section #events-table .events-list .event-item {
  border-bottom: 1px solid #252525;
  transition: background 0.3s ease;
  position: relative;
}
#main-container #data-section #events-table .events-list .event-item.soon {
  border: 1px dashed #f76a6a;
  border-left: 4px solid #FF0000 !important;
}
#main-container #data-section #events-table .events-list .event-item.soon:after {
  content: url("data:image/svg+xml,%3Csvg%20t%3D%221716311243740%22%20class%3D%22icon%22%20viewBox%3D%220%200%201097%201024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20p-id%3D%2211324%22%20width%3D%2227%22%20height%3D%2227%22%3E%3Cpath%20d%3D%22M512%20585.143H292.571a36.571%2036.571%200%200%201%200-73.143H475.43V256a36.571%2036.571%200%200%201%2073.142%200v292.571A36.571%2036.571%200%200%201%20512%20585.143zM946.834%20413.33a36.571%2036.571%200%200%201-72.52%209.472c-25.967-199.021-196.28-349.66-398.885-349.66-222.172%200-402.286%20180.115-402.286%20402.287%200%20171.995%20108.91%20323.254%20268.47%20379.501a36.571%2036.571%200%201%201-24.283%2068.974A475.575%20475.575%200%200%201%200%20475.429C0%20212.846%20212.846%200%20475.429%200c239.433%200%20440.685%20177.993%20471.405%20413.33z%20m-117.138%2095.964l256%20402.285C1116.709%20960.293%201081.71%201024%201024%201024H512c-57.71%200-92.709-63.707-61.696-112.42l256-402.286a73.143%2073.143%200%200%201%20123.392%200zM768%20548.57L512%20950.857h512L768%20548.571z%20m0%20109.715a36.571%2036.571%200%200%201%2036.571%2036.571V768a36.571%2036.571%200%200%201-73.142%200v-73.143A36.571%2036.571%200%200%201%20768%20658.286z%20m0%20182.857a36.571%2036.571%200%201%201%200%2073.143%2036.571%2036.571%200%200%201%200-73.143z%22%20fill%3D%22%23f76a6a%22%20p-id%3D%2211325%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  position: absolute;
  top: 30%;
  left: 1.5rem;
}
#main-container #data-section #events-table .events-list .event-item.soon > span {
  color: #f7f7f7;
}
#main-container #data-section #events-table .events-list .event-item.soon > span:nth-child(4) {
  color: #f76a6a;
  font-weight: bold;
}
#main-container #data-section #events-table .events-list .event-item:hover {
  background-color: #383838;
}
#main-container #data-section #events-table .events-list .event-item span {
  color: #fff;
  padding-top: 1.75em;
  padding-bottom: 1.75em;
}
#main-container #data-section #events-table .events-list .event-item:nth-child(4n+1) {
  border-left-color: #1f697b;
}
#main-container #data-section #events-table .events-list .event-item:nth-child(4n+2) {
  border-left-color: #197149;
}
#main-container #data-section #events-table .events-list .event-item:nth-child(4n+3) {
  border-left-color: #886f22;
}
#main-container #data-section #events-table .events-list .event-item:nth-child(4n+4) {
  border-left-color: #98552e;
}

.hero {
  width: 100%;
  height: 100%;
  display: grid;
}

#calendar {
  width: 90%;
  margin: 40px auto;
  box-shadow: 5px 0 18px -3px rgba(125, 125, 125, 0.1882352941);
  -webkit-box-shadow: 5px 0 18px -3px rgba(125, 125, 125, 0.1882352941);
  background-color: transparent;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}
#calendar.calendar-initialized.event-hide .calendar-events {
  opacity: 0;
}
#calendar .calendar-sidebar {
  background-color: transparent;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  box-shadow: 5px 0 18px -3px rgba(125, 125, 125, 0.1882352941);
  -webkit-box-shadow: 5px 0 18px -3px rgba(125, 125, 125, 0.1882352941);
  color: #f7f7f7;
}
#calendar .calendar-sidebar .month-list .calendar-months li:hover {
  background-color: rgba(39, 39, 39, 0.8);
}
#calendar .calendar-sidebar .month-list .calendar-months li.active-month {
  background-color: #D77D77;
}
#calendar .calendar-sidebar #sidebarToggler {
  box-shadow: 5px 0 18px -3px rgba(125, 125, 125, 0.1882352941);
  -webkit-box-shadow: 5px 0 18px -3px rgba(125, 125, 125, 0.1882352941);
  background-color: #D77D77;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
}
#calendar .calendar-sidebar #sidebarToggler .icon-button .bars {
  background-color: transparent;
}
#calendar .calendar-sidebar #sidebarToggler .icon-button .bars::before {
  content: "\f479";
  font-size: 1.5rem;
  font-family: bootstrap-icons !important;
  background-color: transparent;
  top: -1.1rem;
  box-shadow: 0 0.5rem 1rem #D77D77;
}
@media screen and (max-width: 1024px) {
  #calendar .calendar-sidebar #sidebarToggler .icon-button .bars::before {
    font-size: 2rem;
  }
}
#calendar .calendar-sidebar #sidebarToggler .icon-button .bars::after {
  display: none;
}
#calendar .calendar-sidebar p,
#calendar .calendar-sidebar span {
  color: #f7f7f7;
}
#calendar .calendar-inner {
  box-shadow: 5px 0 18px -3px rgba(125, 125, 125, 0.1882352941);
  -webkit-box-shadow: 5px 0 18px -3px rgba(125, 125, 125, 0.1882352941);
  background-color: transparent;
}
#calendar .calendar-inner th[colspan="7"] {
  color: #f7f7f7;
}
#calendar .calendar-inner th[colspan="7"]::after {
  background-color: #9e9e9e;
  height: 3px;
}
#calendar .calendar-inner .calendar-table .day.calendar-active {
  color: #f7f7f7;
  border-color: #D77D77;
}
#calendar .calendar-inner .calendar-table .day.calendar-active:hover {
  background-color: #D77D77;
}
#calendar .calendar-inner .calendar-table .calendar-day .day:hover {
  color: #f7f7f7;
  background-color: #D77D77;
}
#calendar .calendar-inner .calendar-table .calendar-day .day .event-indicator .type-bullet .type-台灣學堂 {
  background-color: #FFB347;
}
#calendar .calendar-inner .calendar-table .calendar-day .day .event-indicator .type-bullet .type-新聞觀測站 {
  background-color: #77DD77;
}
#calendar .calendar-inner .calendar-table .calendar-day .day .event-indicator .type-bullet .type-台灣最前線 {
  background-color: #FF6961;
}
#calendar .calendar-inner .calendar-table .calendar-day .day .event-indicator .type-bullet .type-全國第一勇 {
  background-color: #4682B4;
}
#calendar .calendar-inner .calendar-table .calendar-day .day .event-indicator .type-bullet .type-愛的榮耀 {
  background-color: #9932CC;
}
#calendar .calendar-inner .calendar-table .calendar-day .day .event-indicator .type-bullet .type-故事屋 {
  background-color: #FFD700;
}
#calendar .calendar-inner .calendar-table .calendar-day .day .event-indicator .type-bullet .type-台灣傳奇 {
  background-color: #CD5C5C;
}
#calendar .calendar-inner .calendar-table .calendar-day .day .event-indicator .type-bullet .type-全能歌手 {
  background-color: #6495ED;
}
#calendar .calendar-inner .calendar-table .calendar-day .day .event-indicator .type-bullet .type-美鳳有約 {
  background-color: #ADFF2F;
}
#calendar .calendar-inner .calendar-table .calendar-day .day .event-indicator .type-bullet .type-GoGo台灣 {
  background-color: #B0C4DE;
}
#calendar .calendar-inner .calendar-table .calendar-day .day .event-indicator .type-bullet .type-娛樂超skr {
  background-color: #8A2BE2;
}
#calendar .calendar-inner .calendar-table .calendar-day .day .event-indicator .type-bullet .type-姊妹亮起來 {
  background-color: #20B2AA;
}
#calendar .calendar-inner .calendar-table .calendar-day .day .event-indicator .type-bullet .type-醫學大聯盟 {
  background-color: #F08080;
}
#calendar .calendar-inner .calendar-table .calendar-day .day .event-indicator .type-bullet .type-我們一家人 {
  background-color: #FF7F50;
}
#calendar .calendar-inner .calendar-table .calendar-day .day .event-indicator .type-bullet .type-綜藝大集合 {
  background-color: #FFDAB9;
}
#calendar .calendar-inner .calendar-table .calendar-day .day .event-indicator .type-bullet .type-綜藝新時代 {
  background-color: #87CEEB;
}
#calendar .calendar-inner .calendar-table .calendar-day .day.calendar-today {
  border: transparent 1px solid;
  color: #f7f7f7;
  background-color: transparent;
}
#calendar .calendar-inner .calendar-table .calendar-day .day.calendar-today::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -0.5rem;
  right: -1.5rem;
  width: 2rem;
  height: 2rem;
  background-image: url("../images/today.svg");
  background-size: contain;
}
#calendar .calendar-inner .calendar-table .calendar-day .day.calendar-today:hover {
  color: #f7f7f7;
  background-color: #D77D77;
  border: 1px solid #D77D77;
}
#calendar .calendar-events {
  box-shadow: 5px 0 18px -3px rgba(125, 125, 125, 0.1882352941);
  -webkit-box-shadow: 5px 0 18px -3px rgba(125, 125, 125, 0.1882352941);
}
#calendar .calendar-events .event-list {
  min-height: 710px;
}
#calendar .calendar-events .event-list .event-empty {
  border-color: #D77D77;
  background-color: rgba(215, 125, 119, 0.1);
}
#calendar .calendar-events .event-list .event-empty p {
  color: #cb5750;
}
#calendar .calendar-events .event-container .event-icon .event-bullet-台灣學堂 {
  background-color: #FFB347;
}
#calendar .calendar-events .event-container .event-icon .event-bullet-新聞觀測站 {
  background-color: #77DD77;
}
#calendar .calendar-events .event-container .event-icon .event-bullet-台灣最前線 {
  background-color: #FF6961;
}
#calendar .calendar-events .event-container .event-icon .event-bullet-全國第一勇 {
  background-color: #4682B4;
}
#calendar .calendar-events .event-container .event-icon .event-bullet-愛的榮耀 {
  background-color: #9932CC;
}
#calendar .calendar-events .event-container .event-icon .event-bullet-故事屋 {
  background-color: #FFD700;
}
#calendar .calendar-events .event-container .event-icon .event-bullet-台灣傳奇 {
  background-color: #CD5C5C;
}
#calendar .calendar-events .event-container .event-icon .event-bullet-全能歌手 {
  background-color: #6495ED;
}
#calendar .calendar-events .event-container .event-icon .event-bullet-美鳳有約 {
  background-color: #ADFF2F;
}
#calendar .calendar-events .event-container .event-icon .event-bullet-GoGo台灣 {
  background-color: #B0C4DE;
}
#calendar .calendar-events .event-container .event-icon .event-bullet-娛樂超skr {
  background-color: #8A2BE2;
}
#calendar .calendar-events .event-container .event-icon .event-bullet-姊妹亮起來 {
  background-color: #20B2AA;
}
#calendar .calendar-events .event-container .event-icon .event-bullet-醫學大聯盟 {
  background-color: #F08080;
}
#calendar .calendar-events .event-container .event-icon .event-bullet-我們一家人 {
  background-color: #FF7F50;
}
#calendar .calendar-events .event-container .event-icon .event-bullet-綜藝大集合 {
  background-color: #FFDAB9;
}
#calendar .calendar-events .event-container .event-icon .event-bullet-綜藝新時代 {
  background-color: #87CEEB;
}
#calendar .calendar-events .event-container .event-info p.event-title span {
  color: #D77D77;
  border-color: #D77D77;
  background-color: rgba(215, 125, 119, 0.1);
}
#calendar #eventListToggler {
  background-color: #D77D77;
  box-shadow: #D77D77;
}

#Event-canvas .mb-3 input[type=number]::-webkit-outer-spin-button,
#Event-canvas .mb-3 input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#Event-canvas .mb-3 label {
  font-size: 1rem;
  line-height: 1.125;
  margin-bottom: 1.25rem;
}
#Event-canvas .mb-3 input {
  margin: 0.5rem 0.5rem;
}
#Event-canvas .mb-3 .type-wrapper {
  display: flex;
  flex-direction: column;
}
#Event-canvas .mb-3 .type-wrapper input {
  max-width: 88px;
  margin: 0;
}
#Event-canvas .checkbox-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#Event-canvas .checkbox-group > * {
  margin: 0.5rem 0.5rem;
}
#Event-canvas .checkbox-group-legend {
  font-size: 1rem;
  line-height: 1.125;
  margin-bottom: 1.25rem;
}
#Event-canvas .checkbox-input {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
#Event-canvas .checkbox-input:checked + .checkbox-tile {
  border-color: #D77D77;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #D77D77;
}
#Event-canvas .checkbox-input:checked + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
  background-color: #D77D77;
  border-color: #D77D77;
}
#Event-canvas .checkbox-input:checked + .checkbox-tile .checkbox-icon,
#Event-canvas .checkbox-input:checked + .checkbox-tile .checkbox-label {
  color: #D77D77;
}
#Event-canvas .checkbox-input:focus + .checkbox-tile {
  border-color: #D77D77;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #eec8c6;
}
#Event-canvas .checkbox-input:focus + .checkbox-tile:before {
  transform: scale(1);
  opacity: 1;
}
#Event-canvas .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  min-height: 5.5rem;
  border-radius: 0.5rem;
  border: 2px solid #eec8c6;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}
#Event-canvas .checkbox-tile:before {
  content: "";
  position: absolute;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid #eec8c6;
  background-color: #fff;
  border-radius: 50%;
  top: 0.25rem;
  left: 0.25rem;
  opacity: 0;
  transform: scale(0);
  transition: 0.25s ease;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#Event-canvas .checkbox-tile:hover {
  border-color: #D77D77;
}
#Event-canvas .checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}
#Event-canvas .checkbox-icon {
  transition: 0.375s ease;
  color: #494949;
  margin-bottom: 0.4rem;
}
#Event-canvas .checkbox-icon svg {
  width: 2rem;
  height: 2rem;
}
#Event-canvas .checkbox-label {
  font-size: 0.9rem;
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
}

.ui-widget-content {
  z-index: 1046;
}/*# sourceMappingURL=schedule.css.map */